
# FILEBEAT
  filebeat:
    image: docker.elastic.co/beats/filebeat:6.2.4
    restart: always
    container_name: %CONF_INSTANCEPREFIX%-filebeat
    volumes:
      - %BASEDIR%/fb/filebeat.yml:/usr/share/filebeat/filebeat.yml
      - %BASEDIR%/nginx/:/var/log/nginx
    networks:
      - %CONF_INSTANCEPREFIX%-esnet      
    depends_on:
      - esnode
      - kibana
      - nginx
    links:
      - nginx
      - esnode
      - kibana

